<form #myForm="ngForm" (submit)="addTodo()">
  <div class="row">
  <div class="col-sm-8">
    <div class="form-group">
      <input [(ngModel)]="newTodo.todo" class="form-control" name="todo" #todo="ngModel" placeholder="할일을 입력하세요." required>
    </div>
  </div>
  <div class="col-sm-4">
    <button type="submit" class="btn btn-primary btn-block" (click)="addTodo()"  [disabled]="!myForm.form.valid" > 추가</button>
  </div>
</div>
</form>
<table class="table table-striped">
  <thead>
  <tr>
    <th>완료</th>
    <th>todo</th>
    <th>생성일</th>
    <th>수정일</th>
    <th>삭제</th>
  </tr>
  </thead>
  <tbody>
  <ng-template ngFor let-todo [ngForOf]="todoList" let-idx="index">
    <!-- 수정 템플릿 -->
    <tr *ngIf="todo.isEdited">
      <td>
        <input type="checkbox" [(ngModel)]="todo.isFinished"/>
      </td>
      <td>
        <input type="text" [(ngModel)]="todo.todo"/>
      </td>
      <td>{{todo.created}}</td>
      <td>{{todo.updated}}</td>
      <td>
        <button class="btn btn-primary btn-sm" (click)="modify(todo)">저장</button>
        <button class="btn btn-warning btn-sm ml-1" (click)="restore(todo)">취소</button>
      </td>
    </tr>
    <!-- 일반 템플릿 -->
    <tr *ngIf="!todo.isEdited" [@flyInOut]="'in'" appHighlight [highlightColor]="'#C8FFFF'" >
      <td >{{todo.isFinished? '완료': '미완료'}}</td>
      <td>{{todo.todo}}</td>
      <td>{{todo.created}}</td>
      <td>{{todo.updated}}</td>
      <td>
        <button class="btn btn-success btn-sm" (click)="save(todo)">수정</button>
        <button class="btn btn-danger btn-sm ml-1" (click)="delete(todo, idx)">삭제</button>
      </td>
    </tr>
  </ng-template>
  </tbody>
</table>


{{ 10000}} 원
{{ 10000 | mydate: '$'}}
{{ 10000 | mydate: 'yen'}}
